AWS_REGION=""
BUCKET_NAME=""
STACK_NAME=""
CREATE_VPN_ENDPOINT=""
SERVER_CERT_ARN=""
CLIENT_CERT_ARN=""
WORKSTATION_SUBNET_PLACEMENT=""
EC2_USER_PASSWORD=""
RENDER_NODE_TARGET_CAPACITY=""
RENDER_NODE_INSTANCE_TYPE=""
