AWS_REGION="example-aws-region"
BUCKET_NAME="example-bucket-name"
STACK_NAME="example-stack-name"
CREATE_VPN_ENDPOINT="true"
SERVER_CERT_ARN="arn:aws:acm:xxxxx"
CLIENT_CERT_ARN="arn:aws:acm:xxxxx"
WORKSTATION_SUBNET_PLACEMENT="Private"
EC2_USER_PASSWORD=""
RENDER_NODE_TARGET_CAPACITY="2"
RENDER_NODE_INSTANCE_TYPE="c5.4xlarge,c4.4xlarge"
